body{
    background-color : #232323;
}

.container {
    max-width : 600px;
    margin : 0 auto;
}

#message{
    color : white;
}

.box{
    width: 30%;
    margin : 1.66%;
    background : purple;
    padding-bottom : 30%;
    float : left;
}

h1{
    color : white;
}